<!DOCTYPE html>
<html>

<head>

  <title>E-Commerce</title>
</head>

<body>
  {{!-- {{>header}}  --}}
  {{{body}}}
  {{!-- {{>footer}}
    {{>additem}}
    {{>script}} --}}
  {{>script}}
</body>

</html>